.root {
    -fx-background-color: #000;
    -fx-background-image: url("../Images/Backgrounds/Home.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
    -fx-background-position: center center;
}

/* menu */
.menu-bar {
    -fx-background-color: #e6d6aa;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 0.1em;
    -fx-border-color: #fff;
}

.menu-bar .label {
    -fx-font-size: 1.1em;
    -fx-font-family: "Verdana";
    -fx-text-fill: #000;
    -fx-padding: 0.2em;
    -fx-background-radius: 0em;
}

.menu-bar .menu-button:hover,
.menu-bar .menu-button:focused,
.menu-bar .menu-button:showing,
.menu-bar .label:hover {
    -fx-background-color: #ede0bb;
    -fx-background-radius: 0.1em;
    -fx-cursor: hand;
}

.menu-item {
    -fx-background-color: #e6d6aa;
}

.menu-item:hover {
    -fx-cursor: hand;
}

.menu-item .label {
    -fx-font-size: 10.0 pt;
    -fx-text-fill: #000;
}

.menu-item:hover {
    -fx-background-color: #ede0bb;
}

/* button */
.button {
    -fx-background-color:#009B77;
    -fx-text-fill: #fff;
    -fx-padding: 1em 3em;
    -fx-font-size: 2em;
    -fx-background-radius: 2em;
}
.button:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #009B77;
    -fx-cursor: hand;
}

#mainbutton {
    -fx-background-color:#009B77;
    -fx-text-fill: #fff;
    -fx-padding: 2em 12em;
    -fx-font-size: 3em;
    -fx-background-radius: 5em;
    -fx-font-weight: bold;
}
#mainbutton:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #009B77;
    -fx-cursor: hand;
}

#gameselection {
    -fx-background-color: #000;
    -fx-border-color: #000;
    -fx-border-width: 0.3em;
    -fx-border-insets: 1em;
    -fx-background-insets: 1em;
}
#gameselection:hover {
    -fx-background-color: #009B77;
    -fx-border-color: #009B77;
    -fx-cursor: hand;
}
#gameselectionlabel {
    -fx-text-fill: #fff;
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-border-color: #fff;
    -fx-border-width: 0 0 0.1em 0;
}

#timer {
    -fx-font-size: 3em;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
}

#informationbox {
    -fx-background-color: #009B77;
    -fx-border-color: #fff;
    -fx-border-width: 0.3em;
    -fx-padding: 1em;
    -fx-border-radius: 2em;
    -fx-background-radius: 2.5em;
}
#informationbox #timer {
    -fx-text-fill: #ede0bb;
}
#information {
    -fx-font-size: 1.5em;
    -fx-text-fill: #fff;
    -fx-font-style: italic;
}

#checkersBoard {
    -fx-padding: 1.7em 0 0 1.5em;
}

#piece, #selectorPiece, #zone, #selectorZone, #killPiece {
    -fx-padding: 1em;
}
#selectorPiece {
    -fx-background-color: #e6d6aa;
    -fx-background-radius: 10em;
}
#killPiece {
    -fx-background-color: red;
    -fx-opacity: 0.2;
}
#selectorZone {
    -fx-background-color: #fff;
    -fx-opacity: 0.2;
}